.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 30px;
  background-color: #141414;
}

.card {
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 4px;
}

.card p {
  color: white;
  margin-top: 10px;
  font-size: 14px;
  font-style: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #6366f1;
  color: #0a0a0a;
  transition:
    background-color 0.2s,
    transform 0.05s;
}
