div {

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h3 {
  font-size: 2.5rem;
  color: blueviolet;
  background-color: aqua;
  width: fit-content;
  height: fit-content;
}
input{
    border-width: 1.5px;
    
}
