.user-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #080808;
  border-radius: 8px;
  background-color: #10b7d8;
  font-family: Arial, sans-serif;
}

.user-container p {
  margin: 8px 0;
  font-size: 15px;
}

.user-container span {
  font-weight: bold;
}

.back-link {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: rgb(4, 4, 4);
  background-color: #decd0c;
  padding: 8px 12px;
  border-radius: 5px;
}

.back-link:hover {
  background-color: #fcfbfe;
}

.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
