body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}
.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
input{
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #24292e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #000;
}
img {
  border-radius: 50%;
  margin-bottom: 15px;
}
p {
  color: #555;
}
h3 {
  text-align: center;
  margin-top: 50px;
}
